	<div class="row prueba" >
 
      <div class="jumbotron">
         
       <img src="img/banner3.png" class="acomodarBanner img-responsive" alt="Cinque Terre">
                   
      </div>

   <div class="container ">
    <div class="row"  >
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">.</h1>
            <div class="account-wall borderLogin">
                <img class="profile-img" src="img/banner2.png" alt="">


                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Usuario=o@mail.com y o2@mail.com" ng-model="user" required autofocus><br>
                <input type="password" class="form-control" placeholder="Contraseña=123 para ambas cuentas" ng-model="pass" required><br>


                <button class="btn btn-lg btn-primary btn-block" ng-click="iniciar()">Iniciar</button>
                <br>
                <label  class="checkbox pull-left">
                    <u ng-click="irRecuperar()">Olvide mi contraseña</u>
                </label>
                <br>
               {{user}}-{{pass}}
                </form>
            </div>
            <br>
           <button class="btn btn-lg btn-primary btn-block" ng-click="irAdmin()">Vista Principal Administrador</button>
           <br>
           <button class="btn btn-lg btn-primary btn-block" ng-click="irAsesor()">Vista Principal Asesor</button>
           <br>
           <button class="btn btn-lg btn-primary btn-block" href="" ng-disabled="true">Vista Principal Entidad</button>
        </div>
    </div>
</div>

</div> 

