

 <script type="text/javascript">
        $(document).ready(function(){
            $("#SignupForm").formToWizard2({ submitButton: 'SaveAccount' })

        });
    </script>

<div class="row prueba" >
  <div class="jumbotron">
         
       <img src="img/banner3.png" class="acomodarBanner img-responsive" alt="Cinque Terre">
                   
  </div>
      

      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
        <li><a href="#Asesor_inicio">Inicio</a></li>

        <li class="dropdown active">
          <a href="#Asesor_registrarEmpresaTuristica" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registrar Empresa<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Asesor_registrarEmpresaEmprendedora">Empresa Emprendedora</a></li>
            <li class="active"><a href="#Asesor_registrarEmpresaTuristica">Empresa Turistica</a></li>
          </ul>
        </li>
         <li><a href="#Asesor_registrarContacto">Registrar Contacto</a></li>
          <li><a href="#Asesor_configuraciones">Configuraciones</a></li>
      </ul>
      
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="cerrarSesion()"s><a>Cerrar Sesion</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container"  >
    <div class="row">
    <h4 class="text-center">REGISTRO CLIENTES/ EMPRESAS TURISTICAS
</h4>
    <form id="SignupForm"  name="myform"  ng-submit="registrarEmpresa()">
        <fieldset>
         <legend>II. DATOS DEL CONTACTO </legend> 
            <CENTER>
    <hr class="acomodarBarra">
         <label class="acomodarFr text-center"> I. CLASIFICACIÓN DE CLIENTES </label>
         <hr class="acomodarB"> 
    <div class="form-group">
      <div class="col-xs-3">
        <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Emprendedor" ng-model="clasificacion" >
      1.EMPRENDEDOR
    </label>
  </div>
  </div>
 <div class="col-xs-3">
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="Empresa Formal" ng-model="clasificacion">
      2.EMPRESA FORMAL
    </label>
  </div>
</div>
 <div class="col-xs-3">
   <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="Empresa Informal" ng-model="clasificacion">
      2.EMPRESA INFORMAL
    </label>
  </div>
</div>
 <div class="col-xs-3">
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="Empresa Gacela" ng-model="clasificacion">
      2.EMPRESA GACELA
    </label>
  </div>
</div>

    </div>
</CENTER>
<hr class="acomodarBarra">
         <label class="acomodarFr text-center"> II. DATOS DEL CONTACTO </label>
<hr class="acomodarB"> 



            <div class="col-xs-6">
                <div class="form form-inline">
                   
                    <label class="acomodarL">Cedula</label>
                    <input type="text" class="form-controlP" ng-model="cedula" placeholder="Cedula" required>

                    <button type="button" class="btn btn-info form-control" aria-label="Left Align" ng-click="buscarContacto();">
                     <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>

                </div>
                <div class="form-group margenT">
                    <label for="email">Apellidos</label>
                    <input type="text" class="form-control" ng-model="apellidos" placeholder="Apellidos" required>
                </div>
              
            </div>
            <div class="col-xs-6 ">
             <div class="form-group ">
                <label for="lastname">Nombres</label>
                    <input type="text" class="form-control" ng-model="nombres" placeholder="Nombres" required>
                    
                </div>
              
                
                <div class="form-group">
                    <label for="password">Cargo</label>
                    <input type="text" class="form-control" ng-model="cargo" placeholder="Cargo" required>
                </div>
            </div>

             <div class="col-xs-6">
             <div class="form-group">
                    <label for="apellidos">Antiguedad en el cargo:</label>
                    <input type="text" class="form-control" ng-model="antiguedad" placeholder="Antiguedad en el cargo" required>
                </div>
                <div class="form-group">
                    <label for="Nombres">Fecha de nacimiento</label>
                  <input type="date" class="form-control" ng-model="fechaN" placeholder="Fecha de nacimiento" required>
                </div>
                
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">Lugar de nacimiento:</label>
                    <input type="text" class="form-control" ng-model="lugarN" placeholder="Lugar de nacimiento" required>

                </div>
                <div class="form-group">
                    <label for="password">Nivel de estudios</label>
                    <select class="form-control" ng-model="nivelEstudio" required>
                      <option value="">--Seleccione--</option>
                      <option >Primaria</option>
                      <option>Bachiller</option>
                      <option>Tecnica</option>
                      <option>Profesional</option>
                      <option>Postgrado</option>
                      <option>Otro</option>
                  </select>
                </div>
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">Direccion</label>
                    <input type="text" class="form-control" ng-model="direccion" placeholder="Direccion" required>
                </div>
                 <div class="form-group">
                     <label for="password">Telefono Fijo</label>
                    <input type="text" class="form-control" ng-model="telefonoF" placeholder="Telefono Fijo" required>
                </div>
               

              
            </div>

             <div class="col-xs-6">
               <div class="form-group">
                    <label for="password">Telefono Celular</label>
                    <input type="text" class="form-control" ng-model="telefonoC" placeholder="Telefono Celular" required>
                </div>
                 <div class="form-group">
                    <label for="password">Ciudad</label>
                    <input type="text" class="form-control" ng-model="ciudad" placeholder="Ciudad" required>
                </div>
             
              
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="password">Departamento</label>
                    <input type="text" class="form-control" ng-model="departamento" placeholder="Departamento" required>
                </div>
              <div class="form-group">
                     <label for="Nombres">Genero</label>
                   <select class="form-control" ng-model="genero" required>
                      <option value="">--Seleccione--</option>
                      <option >Masculino</option>
                      <option>Femenino</option>
                      <option>LGTBI</option>
           
                  </select>
                </div>
               
            </div>
            <div class="col-xs-6">
             <div class="form-group">
                    <label for="password">Correo Electronico</label>
                    <input type="text" class="form-control" ng-model="correo" placeholder="correo@mail.com" required>
                </div>
                 <div class="form-group">
                    <label for="password">Grupo Etnico</label>
                     <select class="form-control" ng-model="grupoE" required>
                      <option value="">--Seleccione--</option>
                      <option >Rrom(Gitanos)</option>
                      <option>Indigenas</option>
                      <option>Afrocolombianos</option>
                      <option>Raizales</option>
                      <option>Otro</option>
           
                  </select>
                </div>
      
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                     <label for="Nombres">¿Está en Condición de Desplazamiento? </label>
                   <select class="form-control" ng-model="condicionDe" required>
                      <option value="">--Seleccione--</option>
                      <option >Si</option>
                      <option>No</option>
                  </select>
                </div>

                


            </div>
             <div class="col-xs-6 acomodarBT">
              <div class="form-group">
                    
                </div>
             </div>
        </fieldset>
    <fieldset>
            <legend>III. INFORMACIÓN DE LA EMPRESA </legend>
            
 <hr class="acomodarBarra">
         <label class="acomodarFr text-center">III. INFORMACIÓN DE LA EMPRESA </label>
<hr class="acomodarB"> 
          <div class="col-xs-6">
                <div class="form-group">
                    <label for="pwd">Nombre de la empresa</label>
                    <input type="text" class="form-control" ng-model="nombreE" placeholder="Nombre de la empresa" required>
                  
                </div>
              
                <div class="form-group">
                  <label for="pwd">Nit:</label>
                  <input type="text" class="form-control" ng-model="nit"  placeholder="NIT" required>
                </div>
              
            </div>
            <div class="col-xs-6">
             <div class="form-group">
            <label for="pwd">Nombre del representante legal:</label>
            <input type="text" class="form-control" ng-model="nombreR"  placeholder="Nombre del representante" required>
          </div>
            
            <div class="form-group">
                  <label for="pwd">Constitucion legal:</label>
                   <select class="form-control" ng-model="constitucion" >
                      <option value="">--Seleccione-</option>
                      <option >SAS</option>
                      <option>Limitada</option>
                      <option>Anonima</option>
                      <option>Persona natural</option>
                      <option>Otra</option>
                     
                   </select>
            </div>
          </div>

           <div class="col-xs-6">
               <div class="form-group">
            <label for="pwd">Fecha de constitucion o inicio de labores:</label>
            <input type="date" size="50" class="form-control" ng-model="fechaC"  placeholder="" required>
          </div>
              
                
           <div class="form-group form-inline">
            <label for="pwd">No empleados</label>
            <label for="pwd">T.C</label> <input type="number" ng-model="tc"  class="form-control campo" >
            <label for="pwd">M.T</label> <input type="number" ng-model="mt"  class="form-control campo">
            <label for="pwd">Directos</label> <input type="number" ng-model="directos"  class="form-control campo">
            <label for="pwd">Indirectos</label> <input type="number" ng-model="indirectos"  class="form-control campo">
          </div>
              
        </div>

        <div class="col-xs-6">
               <div class="form-group">
               <label for="pwd">Direccion:</label>
               <input type="text" class="form-control" ng-model="direccionEm" placeholder="Direccion" required>
              </div>
              
                            
               <div class="form-group">
                <label for="pwd">Ciudad:</label>
                <input type="text" class="form-control" ng-model="ciudadEm"  placeholder="Ciudad" required>
              </div>
              
            </div>

         <div class="col-xs-6">
                <div class="form-group">
                <label for="pwd">Telefono fijo:</label>
                <input type="text" class="form-control" ng-model="telefonoFijo" placeholder="Telefono fijo" required>
              </div>
              
                            
               <div class="form-group">
                <label for="pwd">Telefono Celular</label>
                <input type="text"  class="form-control" ng-model="telefonoCelular" placeholder="Telefono Celular" required>
              </div>
              
            </div>


            <div class="col-xs-6">
                  <div class="form-group">
                    <label for="pwd">Correo:</label>
                    <input type="email" class="form-control" ng-model="correoEm" name="correoEm" placeholder="ejemplo@correo.com" required>
                  </div>
                  
                   <div class="form-group">
                    <label for="pwd">Sitio Web</label>
                    <input type="text" class="form-control" ng-model="sitiWeb" name="sitioWeb" placeholder="Sitio Web" required>
                  </div>
              
                            
              
              
            </div>
      

           <div class="col-xs-6">
            
                
                <div class="form-group">
      <label for="pwd">Tiene registro mercantil?</label>
        <div class="radio">
    <label>
      <input type="radio" ng-model="registroM" name="registroM" value="si" checked>
      Si
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" ng-model="registroM" name="registroM" value="no">
      No
    </label>
  </div>
 
    </div>
     <div class="form-group">
                    <label for="pwd">Numero Registro Mercantil</label>
                    <input type="text" class="form-control" ng-model="numRegistro" name="numeroRegis" placeholder="Numero registro mercantil" required>
                  </div>
              
               
              
            </div>



       <div class="col-xs-6">
                    <div class="form-group">
                    <label for="pwd">¿Último año de renovación?: </label>
                    <input type="text" class="form-control" ng-model="anoRenova" name="anoRenova" placeholder="ultimo año de renovacion" required>
                    </div>   


         
                

      </div>

    
  
 
        </fieldset>

        <fieldset>
        <legend>III. INFORMACIÓN DE LA EMPRESA TURISTICA </legend>
         <hr class="acomodarBarra">
         <label class="acomodarFr text-center">INFORMACION DE LA EMPRESA TURISTICA</label>
<hr class="acomodarB"> 
 
        
            <div class="col-xs-6">
               <div class="form-group">
                    <label for="pwd">Seguro de viaje</label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="seguro" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="seguro"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div>
                       <div class="form-group">
                    <label for="pwd">Registro nacional de turismo</label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroN" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroN"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div>           
         

        </div>

    <div class="col-xs-6">
       <div class="form-group">
                    <label for="pwd">Maneja algun tipo de poliza</label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="poliza" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="poliza"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div> 
                  <div class="form-group">
                    <label for="pwd">Se encuentra registrado como exportador de servicios (Rut):</label>
                    <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroExp" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroExp"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div> 
            
         
    
               

    </div>
    <div class="col-xs-6">
    <div class="form-group">
                    <label for="pwd">Certificados de sostenibilidad: </label>
                   <select class="form-control" ng-model="sostenibilidad" >
                      <option value="">--Seleccione-</option>
                      <option >Si</option>
                      <option>No</option>
                      <option>Parcial</option>
                      <option>General</option>
                      <option>NTS</option>
                     
                   </select>
               </div> 

       <div class="form-group">
                    <label for="pwd">Cuenta con libro de migración Colombia: </label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroExp" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="registroExp"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div> 

      </div>

       <div class="col-xs-6">
     <div class="form-group">
                    <label for="pwd">Paga impuesto al turismo (parafiscal):</label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="impuesto" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="impuesto"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div> 

       <div class="form-group">
                    <label for="pwd"> Cuenta con Código de ética</label>
                                         <div class="radio">
                          <label>
                            <input type="radio" ng-model="codigoE" name="inter" value="si" checked>
                            Si
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="codigoE"  name="inter" value="no">
                            No
                          </label>
                        </div>
               </div> 

      </div>

<div class="col-xs-6">
                   <div class="form-group">
                    <label for="pwd">Grupo étnico del empresario: </label>
                    <input type="text" class="form-control" ng-model="grupoEt" name="anoRenova" placeholder="Grupo étnico del empresario:" required>
                    </div>  


</div>
<div class="col-xs-6">
      

               <div class="form-group">
                    <label for="pwd">Cédula de extranjería(opcional) :</label>
                    <input type="text" class="form-control" ng-model="cedulaEx" name="anoRenova" placeholder="Cédula de extranjería(opcional) :" required>
                    </div>   


</div>
<hr > 
       <hr class="acomodarBarra">
         <label class="acomodarFr text-center">TIPO DE EMPRESA TURISTICA</label>
<hr class="acomodarB"> 
    
<div class="col-xs-12">
      

             <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Alojamiento 
</label>
<label class="checkbox-inline ">
  <input type="checkbox" id="inlineCheckbox2" value="option2" class="letraL"> Transporte
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Agencia de Viaje:
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Receptivo 
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Guía:
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Representación Turística:
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Captadora de ahorro: 
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Bar y Restaurante:
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Intercambio vacacional:
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Promotores Tiempo. compartido
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Comercializadora Compartido:
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Operador congreso, ferias, etc.: 
</label> 



</div>
<br>
 
 <hr class="acomodarBarra">
         <label class="acomodarFr text-center">TIPO DE ALOJAMIENTO</label>
<hr class="acomodarB"> 

<div class="col-xs-12">
      

             <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Albergue, refugio, hosta
</label>
<label class="checkbox-inline ">
  <input type="checkbox" id="inlineCheckbox2" value="option2" class="letraL">Hotel
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Aparta hotel
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Posada Turística 
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Apartamento Turístico
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Posada Nativa
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Apartamento
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Alojamiento rural 
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Campamento
</label> 
</div>

 <hr class="acomodarBarra">
         <label class="acomodarFr text-center">TIPO DE TURISMO QUE DESARROLLA </label>
<hr class="acomodarB"> 


<div class="col-xs-12">
      

             <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1">Naturaleza
</label>
<label class="checkbox-inline ">
  <input type="checkbox" id="inlineCheckbox2" value="option2" class="letraL"> Cultural
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Aventura
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">  Náutico
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Sol y playa
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Salud y Bienestar
</label> 

<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Congreso y convenciones
</label> 
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3">Otro: 
</label> 

</div>


<center><input type="submit" class="btn btn-success acomodarRegis2" id="SaveAccount" value="Registrar"></center>


        </fieldset>
            
            
        
        </form>
      
    </div>
</div>
