<div class="row prueba" >
  <div class="jumbotron">
         
       <img src="img/banner3.png" class="acomodarBanner img-responsive" alt="Cinque Terre">
                   
  </div>
	    

      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#Asesor_inicio">Inicio</a></li>

        <li class="dropdown">
          <a href="#Asesor_registrarContacto" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registrar Empresa<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Asesor_registrarEmpresaEmprendedora">Empresa Emprendedora</a></li>
            <li><a href="#Asesor_registrarEmpresaTuristica">Empresa Turistica</a></li>
          </ul>
        </li>
         <li class="active"><a href="#Asesor_registrarContacto">Registrar Contacto</a></li>
          <li><a href="#Asesor_configuraciones">Configuraciones</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="cerrarSesion()"><a>Cerrar Sesion</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
    <h4 class="text-center">FORMATO DE CREACIÓN DE CONTACTO </h4>
    <input type="date" ng-model="fecha" placeholder="fecha" required>
        <form class="form-horizontal" ng-submit="registrarContacto();">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="firstname">Nombres</label>
                    <input type="text" class="form-control" ng-model="nombres" placeholder="Nombres" required>
                </div>
                <div class="form-group">
                <label for="lastname">Cedula</label>
                    <input type="text" class="form-control" ng-model="cedula" placeholder="Cedula" required>
                    
                </div>
              
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Apellidos</label>
                    <input type="text" class="form-control" ng-model="apellidos" placeholder="Apellidos" required>
                </div>
                <div class="form-group">
                    <label for="password">Correo</label>
                    <input type="email" class="form-control" ng-model="correo" placeholder="ejemplo@mail.com" required>
                </div>
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="Nombres">Genero</label>
                   <select class="form-control" ng-model="genero" required>
                      <option value="">--Seleccione--</option>
                      <option >Masculino</option>
                      <option>Femenino</option>
                      <option>LGTBI</option>
           
                  </select>
                </div>
                <div class="form-group">
                    <label for="apellidos">Cargo:</label>
                    <input type="text" class="form-control" ng-model="cargo" placeholder="Cargo" required>
                </div>
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">¿Interesado en recibir correos electrónicos masivos? :</label>
                     <select class="form-control" ng-model="recibirC">
                      <option value="">--Seleccione--</option>
                      <option >No</option>
                      <option>Si</option>
           
                  </select>



                </div>
                <div class="form-group">
                    <label for="password">Numeros de telefono:</label>
                    <input type="text" class="form-control" ng-model="numTelefono" placeholder="Numeros de telefono:" required>
                </div>
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">No Celular</label>
                    <input type="text" class="form-control" ng-model="numCelular" placeholder="No Celular" required>
                </div>
                <div class="form-group">
                    <label for="password">CDE</label>
                    <input type="text" class="form-control" ng-model="cde" placeholder="CDE" required>
                </div>
            </div>

             <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">Direccion</label>
                    <input type="text" class="form-control" ng-model="direccion" placeholder="Direccion" required>
                </div>
                <div class="form-group">
                    <label for="password">Ciudad</label>
                    <input type="text" class="form-control" ng-model="ciudad" placeholder="Ciudad:" required>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">Departamento</label>
                    <input type="text" class="form-control" ng-model="departamento" placeholder="Departamento" required>
                </div>
                <div class="form-group">
                    <label for="password">Pais</label>
                    <input type="text" class="form-control" ng-model="pais" placeholder="Pais" required>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastname">Notas</label>
                    <textarea class="form-control" ng-model="notas" placeholder="Notas"></textarea>
                   
                </div>
            <input type="submit" class="btn btn-success" value="Registrar">
            </div>
        </form>
      
    </div>
</div>
