

<div class="row prueba" >
  <div class="jumbotron">
         
       <img src="img/banner3.png" class="acomodarBanner img-responsive" alt="Cinque Terre" id="baner">
     

  </div>
	    

      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#Admin_inicio">Inicio</a></li>

        <li class="dropdown">
          <a href="#Admin_inicio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entidades<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Admin_registrarEntidad">Registrar Entidad</a></li>
            <li><a href="#Admin_verEntidad">Ver Entidades</a></li>
          </ul>
        </li>
         <li><a href="#Admin_servicios">Servicios</a></li>
          <li><a href="#Admin_logros">Logros</a></li>
          <li><a href="#Admin_configuraciones">Configuraciones</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li  ng-click="cerrarSesion()"><a>Cerrar Sesion</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <div class="col-sm-12">
  
   <table class="table table-responsive">

  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre de la empresa</th>
      <th>Nombre representante</th>
      <th>NIT</th>
      <th>Sitio Web</th>
      <th>Ciudad</th>
      <th>Correo</th>

   
    </tr> 
  </thead>
  <tbody>
    
    <tr ng-repeat="empresa in data">
        <td><img src="img/construccion.jpg" width="100" height="100" class="img-responsive" alt="Cinque Terre"></td>
        <td>{{empresa.nombre}}</td>
        <td>{{empresa.nombreR}}</td>
        <td>{{empresa.nit}}</td>
        <td>{{empresa.sitioWeb}}</td>
         <td>{{empresa.ciudad}}</td>
        <td>{{empresa.correo}}</td>
        
       

    </tr>
  </tbody>
</table>
  </div>

<button ng-click="startSpin()">Start spinner</button>



</div>



