
<div class="row" >
<div class="prueba">  
<br>
  <div class="parallax-quote parallaxBg" style="padding: 40px 30px;">
      <div class="parallax-quote-in" style="padding: 0px;">
          <div class="row">
               <div class="col-md-3 col-sm-4 col-xs-5">
                            <a >
                                <img id="logo-header" class="img-responsive"
                                     src="Vista/img/banner2.png" alt="Logo Alcaldía">
                            </a>
                        </div>

               <div class="col-md-3 col-sm-4 col-xs-5 pull-right">
                                          <a ><img class="header-banner img-responsive"
                                                                                 src="Vista/img/banner1.png"
                                                                                 alt="Escudo de Colombia"></a>
                </div>
         </div>
  </div>

</div>

 <br> 

 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

      <ul class="nav navbar-nav" >
        <li ><a href="#Admin_inicio"><i class="fa fa-home fa-lg"></i> Inicio</a></li>

        <li class="dropdown">
          <a href="#Admin_configuraciones" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-building fa-lg"></i> Entidades<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Admin_registrarEntidad">Registrar Entidad</a></li>
            <li><a href="#Admin_verEntidad">Ver Entidades</a></li>
          </ul>
        </li>
         
          <li><a href="#Admin_logros"><i class="fa fa-trophy fa-lg" ></i> Registrar Logros</a></li>
          <li><a href="#Admin_asociar"><i class="fa fa-handshake-o fa-lg" ></i> Asociar logros-entidades <span class="badge badge-info">{{cant_pendientes}}</span></a></li>
         
      </ul>
      
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" >
          <a href="#Admin_configuraciones" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa  fa-user-circle fa-lg"></i> Cuenta<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Admin_configuraciones"><i class="fa  fa-cog"></i> Configuraciones</a></li>
            <li ng-click="cerrarSesion()"><a><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
          </ul>

        </li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-sm-12 col-xs-12 row2" style="min-height: 500px; border:none">
 <br>
   <label class="acomodarFr text-center" style="font-size:18px; ">Cambiar Contraseña De Acceso</label>
    <br>
    <br>
                 <form class="form-horizontal">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="acomodarL">CONTRASEÑA ACTUAL</label>
                    <input type="{{visibilidad1}}" class="form-control" ng-model="claveActual" placeholder="Contraseña actual" tabindex=1 required >

                </div>
             
            </div>
             <div class="col-xs-6">
               <button type="button" class="btn btn-info form-controlp" aria-label="Left Align" ng-click="cambio(1)">
                     <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
            </div>

            <div class="clearfix">
              
            </div>

            <div class="col-xs-6">
             
               <div class="form-group">
                   <br>
                    <label>CONTRASEÑA NUEVA</label>
                    <input type="{{visibilidad2}}" class="form-control" ng-model="claveNueva" placeholder="Contraseña nueva" tabindex=2 required>
                    <br>
                    <label>REPITA CONTRASEÑA</label>
                    <input type="{{visibilidad2}}" class="form-control" ng-model="claveNueva2" placeholder="Repita contraseña" tabindex=3 required>
               </div>
               <div class="form-group">
                    <button class="btn btn-primary" ng-click="cambiarClave()" tabindex=4 >Guardar</button>
                </div>

            </div>

           
             <div class="col-xs-6">
              <br><br>
               <button type="button" class="btn btn-info form-controlp" aria-label="Left Align" ng-click="cambio(2)">
                     <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
            </div>
          
        </form>
          
<div class="clearfix"></div>
       <label class="acomodarFr text-center" style="font-size:18px; ">Gestionar Opciones Combos</label>
    <br>
    <br>
 <div class="col-sm-6 col-xs-offset-3">
     <form class="form-horizontal" ng-submit="registrarOpcionCombo();">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="logro">NOMBRE</label>
                    <input type="text" class="form-control" ng-model="nombreCombo" placeholder="Nombres" required>
                </div>
                <div class="form-group">
                 <label for="pwd">Combo a Agregar</label>
                   <select class="form-control"  ng-model="comboPadre" name="combo" >
                    <option value="">--Seleccione-.</option>
                    <option value="1" >Combo Constitución Legal</option>
                    <option value="2" >Combo Tipo Empresa</option>
                     <option value="3" >Combo Tipo Cliente</option>
                                            
                   </select> 
                </div>
               
            </div>
            <div class="clearfix">
              
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-xs-offset-5">                
             <button class="btn btn-primary" ng-click="registrarCombo()">Guardar Combo</button>
             <br><br>
              </div>

           </div>
            
          
        </form>
</div>
        <label class="acomodarFr text-center" style="font-size:18px; ">Opciones Registradas en Combos</label>
   <table class="table table-responsive">
  <thead>
    <tr>
      <th>Nombre Opcion</th>
      <th>Combo</th>
      <th>Eliminar </th>
    </tr> 
  </thead>
  <tbody>
   <tr ng-repeat='c in combos ' ng-class="$even?'odd':'even'">
       
        <td>{{c.nombre_opc}}</td>
        <td>{{c.combo_padre}}</td>
              
        <td><i class="fa fa-trash-o fa-2x btn"  ng-click="eliminar($index)"></i></td>
              
    </tr>
     
  </tbody>
</table>
    
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Logro</h4>
      </div>
      <div class="modal-body" contenteditable='true'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet ipsam corrupti numquam explicabo ad molestias rem soluta reprehenderit facere veniam unde exercitationem itaque autem sed, a illo earum eum.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>    
